.drop-down__list {
  display: none;
  background-color: #f3f2ee;
  border-radius: 4px;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
  right: 0;
}
.drop-down__item:first-child:before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f3f2ee;
  transform: translateY(-100%);
}
.drop-down__item {
  padding: 10px 0 5px 0;
  text-align: left;
  position: absolute;
}

/* .drop-down__list:before {
  content: "";
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: red;
  transition: translateY(-100%);
} */

.drop-down__menu:hover .drop-down__list {
  display: block;
}
