.drop-down__list {
  display: block;
  margin-top: 25px;
  background-color: #f3f2ee;
  width: 30%;
  border-radius: 4px;
}
.drop-down__list:before {
  content: "";
  position: absolute;
  top: auto;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  transform: translateY(-100%);
}
.drop-down__item {
  padding: 10px 0 0 0;
  text-align: left;
}
